# Database configuration
DB_URL=postgresql://your_user:your_password@localhost:5432/your_database

# Server configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=51000

# MQTT Broker configuration
MQTT_HOST=0.0.0.0
MQTT_PORT=1883

# Path to pre-trained ML model
MODEL_URL=model_filename.pkl

# Logging configuration
LOGGING_LEVEL=INFO
LOGGING_FORMAT=%(asctime)s\t%(levelname)s\t%(name)s\t%(message)s
